In [1]:
#!pip install geopy

In [2]:
import pandas as pd
import json
from geopy import distance

In [3]:
interim_path = '../data/interim/'

## Read Nombres de CAIs

In [11]:
nombres_cais = pd.read_excel("../data/otros/Localizaciones.xlsx")

In [12]:
nombres_cais

                Estación                 CAIDESCRIP
0        CAI 20 de Julio            CAI 20 De Julio
1        CAI 7 de Agosto        CAI Siete de Agosto
2             CAI Alamos                 CAI Álamos
3           CAI Americas  CAI Plaza De Las Américas
4             CAI Aurora              CAI La Aurora
5             CAI Claret                 CAI Claret
6           CAI Galerias               CAI Galerías
7            CAI Jaboque                CAI Jaboque
8         CAI Las Ferias             CAI Las Ferias
9            CAI Navarra                CAI Navarra
10         CAI Normandia              CAI Normandía
11          CAI Quirigua               CAI Quirigua
12            CAI Rincon                 CAI Rincón
13              CAI Roma                   CAI Roma
14     CAI San Victorino          CAI San Victorino
15            CAI Serena              CAI La Serena
16             CAI Tejar               CAI El Tejar
17           CAI Venecia                CAI Venecia
18       CAI Villa Nidia            CAI Villa Nidia
19   CAI Villa del Prado        CAI Villa del Prado
20             Cruz Roja                       #N/D
21        Edificio Marly                       #N/D
22  Edificio Profesional                       #N/D
23        Hotel Morrison                       #N/D
24         Santa Cecilia                       #N/D
25              Fontibón                       #N/D
26              Restrepo                       #N/D
27                   SDA                       #N/D

In [13]:
nombres_cais = nombres_cais[['Estación','CAIDESCRIP']]

In [14]:
nombres_cais['Estación'] = nombres_cais['Estación'].str.replace('"','')

In [15]:
nombres_cais.head()

          Estación                 CAIDESCRIP
0  CAI 20 de Julio            CAI 20 De Julio
1  CAI 7 de Agosto        CAI Siete de Agosto
2       CAI Alamos                 CAI Álamos
3     CAI Americas  CAI Plaza De Las Américas
4       CAI Aurora              CAI La Aurora

## Read Ubicaciones CAIs

In [9]:
# latitude and longitude data
df_locations_sda = pd.read_csv("../data/otros/Localizaciones.csv", sep  =';')

# rename column for merge
df_locations_sda.rename(columns={'Estación':'name_station_old','sin_comillas':'Estación'}, inplace=True)

In [16]:
df_locations_sda.head()

,item,name_station_old,Componente,Estación_count,Fecha_Dia_min,Fecha_Dia_max,Nro dias,dias_info,cai_name_clean,CAIDESCRIP,latitude,longitude,Estación
0,19,"﻿""CAI Villa Nidia""",Ruido,1800,2017-06-30,2020-08-01,<1128 * Days>,1128,cai villa nidia,CAI Villa Nidia,4.737775,-74.022571,CAI Villa Nidia
1,5,"﻿""CAI Aurora""",Ruido,600,2019-03-27,2019-08-01,<127 * Days>,127,﻿cai aurora,CAI La Aurora,4.519827,-74.121650,CAI Aurora
2,9,"﻿""CAI Las Ferias""",Ruido,900,2019-10-29,2020-06-01,<216 * Days>,216,﻿cai las ferias,CAI Las Ferias,4.682945,-74.090409,CAI Las Ferias
3,2,"﻿""CAI 7 de Agosto""",Ruido,400,2019-11-08,2020-08-01,<267 * Days>,267,cai 7 de agosto,CAI Siete de Agosto,4.658230,-74.077138,CAI 7 de Agosto
4,14,"﻿""CAI Roma""",Ruido,1100,2019-10-31,2020-08-01,<275 * Days>,275,cai roma,CAI Roma,4.613437,-74.175602,CAI Roma

In [19]:
df_locations_sda.tail()

,item,name_station_old,Componente,Estación_count,Fecha_Dia_min,Fecha_Dia_max,Nro dias,dias_info,cai_name_clean,CAIDESCRIP,latitude,longitude,Estación
24,13,"﻿""CAI Rincon""",Ruido,1600,2019-05-08,2020-08-01,<451 * Days>,451,﻿cai rincon,CAI Rincón,4.723542,-74.091631,CAI Rincon
25,25,"﻿""Santa Cecilia""",Ruido,1600,2019-05-08,2020-08-01,<451 * Days>,451,santa cecilia,#N/D,4.738262,-74.022550,Santa Cecilia
26,1,"﻿""CAI 20 de Julio""",Ruido,1700,2019-04-10,2020-08-01,<479 * Days>,479,cai 20 de julio,CAI 20 De Julio,4.572588,-74.092548,CAI 20 de Julio
27,18,"﻿""CAI Venecia""",Ruido,1700,2019-04-10,2020-08-01,<479 * Days>,479,﻿cai venecia,CAI Venecia,4.589878,-74.138380,CAI Venecia
28,260,﻿Fontibón,Ruido,1217,2019-06-13,2020-08-01,<415 * Days>,415,﻿fontibón,#N/D,4.679169,-74.142945,Fontibn

In [17]:
# Add latitude and longitude data
cais_SDA = nombres_cais.merge(df_locations_sda[['Estación','latitude','longitude']],how ="left", left_on="Estación",right_on ="Estación")

In [18]:
cais_SDA

                Estación                 CAIDESCRIP  latitude  longitude
0        CAI 20 de Julio            CAI 20 De Julio  4.572588 -74.092548
1        CAI 7 de Agosto        CAI Siete de Agosto  4.658230 -74.077138
2             CAI Alamos                 CAI Álamos  4.690173 -74.117279
3           CAI Americas  CAI Plaza De Las Américas  4.619148 -74.139036
4             CAI Aurora              CAI La Aurora  4.519827 -74.121650
5             CAI Claret                 CAI Claret  4.583296 -74.127269
6           CAI Galerias               CAI Galerías  4.641682 -74.074534
7            CAI Jaboque                CAI Jaboque  4.703500 -74.129137
8         CAI Las Ferias             CAI Las Ferias  4.682945 -74.090409
9            CAI Navarra                CAI Navarra  4.695576 -74.055259
10         CAI Normandia              CAI Normandía  4.670240 -74.107491
11          CAI Quirigua               CAI Quirigua  4.706249 -74.107274
12            CAI Rincon                 CAI Rincón  4.723542 -74.091631
13              CAI Roma                   CAI Roma  4.613437 -74.175602
14     CAI San Victorino          CAI San Victorino  4.601418 -74.081216
15            CAI Serena              CAI La Serena  4.710030 -74.094249
16             CAI Tejar               CAI El Tejar  4.609127 -74.128176
17           CAI Venecia                CAI Venecia  4.589878 -74.138380
18       CAI Villa Nidia            CAI Villa Nidia  4.737775 -74.022571
19   CAI Villa del Prado        CAI Villa del Prado  4.753337 -74.046974
20             Cruz Roja                       #N/D  4.672513 -74.091496
21        Edificio Marly                       #N/D  4.637515 -74.066457
22  Edificio Profesional                       #N/D  4.653911 -74.073787
23        Hotel Morrison                       #N/D  4.669944 -74.054878
24         Santa Cecilia                       #N/D  4.738262 -74.022550
25              Fontibón                       #N/D  4.679169 -74.142945
26              Restrepo                       #N/D  4.589349 -74.102351
27                   SDA                       #N/D  4.642211 -74.065572

In [9]:
ubicaciones_df = pd.read_csv('../data/otros/ubicaciones_cai/comandoatencioninmediata (CAI).csv')

In [10]:
ubicaciones_df.head(10)

,latitude,longitude,altitude,geometry,OBJECTID,CAICOD_PLAN,CAICOD_ENT,CAICOD_PROY,CAIANIO_GEO,CAIFECHA_INI,...,CAILONGITU,CAILATITUD,CAITURNO,CAICELECTR,CAICONTACT,CAIPWEB,CAICPOLICI,CAIIDENTIF,CAIIEPOLIC,CAIFECHA_C
0,4.587194,-74.075331,NaN,Point,1761.0,5.0,137.0,7507.0,2016.0,1.464739e+12,...,-74.075331,4.587194,24 Horas,mebog.cai-girardot@policia.gov.co,Policía Nacional,https://www.policia.gov.co/,E03-29,CAI059,CAI Girardot,1.565654e+12
1,4.589295,-74.071479,NaN,Point,1762.0,5.0,137.0,7507.0,2016.0,1.464739e+12,...,-74.071479,4.589295,24 Horas,mebog.cai-guavio@policia.gov.co,Policía Nacional,https://www.policia.gov.co/,E03-32,CAI064,CAI Guavio,1.565654e+12
2,4.580615,-74.072307,NaN,Point,1763.0,5.0,137.0,7507.0,2016.0,1.464739e+12,...,-74.072307,4.580615,24 Horas,mebog.cai-dorado@policia.gov.co,Policía Nacional,https://www.policia.gov.co/,E03-36,CAI046,CAI Dorado,1.565654e+12
3,4.595604,-74.080285,NaN,Point,1764.0,5.0,137.0,7507.0,2016.0,1.464739e+12,...,-74.080285,4.595604,24 Horas,mebog.cai-bolivia@policia.gov.co,Policía Nacional,https://www.policia.gov.co/,E17-03,CAI018,CAI Bolivia,1.565654e+12
4,4.815921,-74.036312,NaN,Point,1765.0,5.0,137.0,7507.0,2016.0,1.464739e+12,...,-74.036312,4.815921,24 Horas,mebog.cai-autonorte@policia.gov.co,Policía Nacional,https://www.policia.gov.co/,E11-36,CAI019,CAI Auto Norte,1.565654e+12
5,4.755541,-74.065116,NaN,Point,1766.0,5.0,137.0,7507.0,2016.0,1.464739e+12,...,-74.065116,4.755541,24 Horas,mebog.cai-bavaria@policia.gov.co,Policía Nacional,https://www.policia.gov.co/,E11-58,CAI125,CAI San Jose,1.565654e+12
6,4.753337,-74.046974,NaN,Point,1767.0,5.0,137.0,7507.0,2016.0,1.464739e+12,...,-74.046974,4.753337,24 Horas,mebog.cai-villaprado@policia.gov.co,Policía Nacional,https://www.policia.gov.co/,E11-67,CAI155,CAI Villa del Prado,1.565654e+12
7,4.746347,-74.054105,NaN,Point,1768.0,5.0,137.0,7507.0,2016.0,1.464739e+12,...,-74.054105,4.746347,24 Horas,mebog.cai-mazuren@policia.gov.co,Policía Nacional,https://www.policia.gov.co/,E11-40,CAI087,CAI Mazuren,1.565654e+12
8,4.749708,-74.083087,NaN,Point,1769.0,5.0,137.0,7507.0,2016.0,1.464739e+12,...,-74.083087,4.749708,24 Horas,mebog.cai-pinar@policia.gov.co,Policía Nacional,https://www.policia.gov.co/,E11-76,CAI048,CAI Pinar,1.565654e+12
9,4.753854,-74.110215,NaN,Point,1770.0,5.0,137.0,7507.0,2016.0,1.433117e+12,...,-74.110215,4.753854,24 Horas,mebog.cai-fontanar@policia.gov.co,Policía Nacional,https://www.policia.gov.co/,E11-20,CAI056,CAI Fontanar del Rio,1.565654e+12

In [11]:
pd.set_option('display.max_rows', 500)

In [12]:
cais = ubicaciones_df[["CAIIEPOLIC","latitude","longitude"]].copy()

In [13]:
cais['lat_lon'] = list(zip(ubicaciones_df.latitude, ubicaciones_df.longitude))

In [14]:
cais.head()

,CAIIEPOLIC,latitude,longitude,lat_lon
0,CAI Girardot,4.587194,-74.075331,"(4.587194000000069, -74.07533099999995)"
1,CAI Guavio,4.589295,-74.071479,"(4.58929500000005, -74.07147899999995)"
2,CAI Dorado,4.580615,-74.072307,"(4.580615000000023, -74.07230699999997)"
3,CAI Bolivia,4.595604,-74.080285,"(4.595604000000037, -74.08028499999995)"
4,CAI Auto Norte,4.815921,-74.036312,"(4.815920719000076, -74.03631230799994)"

In [15]:
cais_SDA = nombres_cais.merge(cais,how='left',left_on='CAIDESCRIP',right_on='CAIIEPOLIC').dropna()

In [16]:
cais_SDA.head()

,Estación,CAIDESCRIP,CAIIEPOLIC,latitude,longitude,lat_lon
0,CAI 20 de Julio,CAI 20 De Julio,CAI 20 De Julio,4.572588,-74.092548,"(4.572588000000052, -74.09254799999997)"
1,CAI 7 de Agosto,CAI Siete de Agosto,CAI Siete de Agosto,4.658230,-74.077138,"(4.65823000000006, -74.07713799999993)"
2,CAI Alamos,CAI Álamos,CAI Álamos,4.690173,-74.117279,"(4.6901730000000725, -74.11727899999994)"
3,CAI Americas,CAI Plaza De Las Américas,CAI Plaza De Las Américas,4.619148,-74.139036,"(4.6191480000000515, -74.13903599999998)"
4,CAI Aurora,CAI La Aurora,CAI La Aurora,4.519827,-74.121650,"(4.519826700000066, -74.12164989999997)"

## Read Bares y Restaurantes

In [17]:
bares_data = json.load(open("../data/otros/bares/bares.geojson"))

In [18]:
bares_df = pd.json_normalize(bares_data['features'])

In [19]:
bares_df.drop(["type","geometry.type","geometry.coordinates"],axis=1,inplace=True)

In [20]:
bares_df.columns = bares_df.columns.str.replace("properties.", "")

In [21]:
bares_df.head()

,SUBCATEGOR,NOMBRE_EST,DIRECCION,LOC,SECTOR_CAT,LATITUD,LONGITUD
0,L,CHIBCHOMBIA,CL 27 # 4 - 49 P 1,03,LA MACARENA,4.613799,-74.066259
1,L,RESTAURANTE ROMULO Y REMO MACARENA,KR 4A # 26D - 90,03,LA MACARENA,4.613799,-74.066259
2,L,BOGOTA BEER COMPANY S A,KR 4A # 27 - 3,03,LA MACARENA,4.614092,-74.065890
3,L,PRESTO BTA CALLE 27,KR 7 # 27 - 38 LC 1 ED COLISSEUM,03,SAN DIEGO,4.614158,-74.069222
4,L,LA HAMBURGUESERIA DE LA MACARENA,KR 4A # 27 - 27,03,LA MACARENA,4.614193,-74.066440

In [22]:
bares = bares_df[["NOMBRE_EST","LATITUD","LONGITUD"]].copy()

In [23]:
bares["lat_lon"] = list(zip(bares.LATITUD, bares.LONGITUD))

In [24]:
bares

,NOMBRE_EST,LATITUD,LONGITUD,lat_lon
0,CHIBCHOMBIA,4.613799,-74.066259,"(4.613799, -74.066259)"
1,RESTAURANTE ROMULO Y REMO MACARENA,4.613799,-74.066259,"(4.613799, -74.066259)"
2,BOGOTA BEER COMPANY S A,4.614092,-74.065890,"(4.614092, -74.06589)"
3,PRESTO BTA CALLE 27,4.614158,-74.069222,"(4.614158, -74.069222)"
4,LA HAMBURGUESERIA DE LA MACARENA,4.614193,-74.066440,"(4.614193, -74.06644)"
...,...,...,...,...
510,BARRA BTA EXITO COUNTRY 2,4.713003,-74.032775,"(4.713003, -74.032775)"
511,ANDRES EXPRES CASETA DE LUXE,4.715561,-74.029294,"(4.715561, -74.029294)"
512,RESTAURANTE BTA CALLE 140,4.719717,-74.037980,"(4.719717, -74.03798)"
513,BARRA BTA C.C. SAN RAFAEL LOCAL 120,4.723219,-74.062287,"(4.723219, -74.062287)"
514,RESTAURANTE LA JUGUETERIA 147,4.730152,-74.044838,"(4.730152, -74.044838)"

### Calcular Bares y Restaurantes cercanos en 500 metros

In [25]:
def conteo_en_radio(cais_SDA,establecimientos_df,radio,nombre_var):
    
    for cai in cais_SDA.CAIIEPOLIC :
        cai_lat_lon = cais_SDA[cais_SDA.CAIIEPOLIC==cai]['lat_lon']
        temp_df = establecimientos_df.copy()
        temp_df["distancia"] = temp_df.lat_lon.apply(lambda x: distance.distance(cai_lat_lon, x).km)
        cais_SDA.loc[cais_SDA.CAIIEPOLIC==cai,nombre_var]=len(temp_df.sort_values("distancia").query("distancia<"+str(radio)).lat_lon)

    return cais_SDA

In [26]:
cais_SDA = conteo_en_radio(cais_SDA,bares,0.5,"conteo_bares_500m")
cais_SDA = conteo_en_radio(cais_SDA,bares,1,"conteo_bares_1km")
cais_SDA = conteo_en_radio(cais_SDA,bares,2,"conteo_bares_2km")

In [27]:
cais_SDA.sort_values("conteo_bares_500m",ascending=False).head(10)

,Estación,CAIDESCRIP,CAIIEPOLIC,latitude,longitude,lat_lon,conteo_bares_500m,conteo_bares_1km,conteo_bares_2km
3,CAI Americas,CAI Plaza De Las Américas,CAI Plaza De Las Américas,4.619148,-74.139036,"(4.6191480000000515, -74.13903599999998)",16.0,17.0,17.0
6,CAI Galerias,CAI Galerías,CAI Galerías,4.641682,-74.074534,"(4.64168200000006, -74.07453399999997)",8.0,9.0,16.0
19,CAI Villa del Prado,CAI Villa del Prado,CAI Villa del Prado,4.753337,-74.046974,"(4.7533370000000446, -74.04697399999998)",1.0,21.0,21.0
11,CAI Quirigua,CAI Quirigua,CAI Quirigua,4.706249,-74.107274,"(4.706249000000072, -74.10727399999995)",0.0,1.0,3.0
18,CAI Villa Nidia,CAI Villa Nidia,CAI Villa Nidia,4.737775,-74.022571,"(4.7377753900000235, -74.02257067599999)",0.0,0.0,0.0
17,CAI Venecia,CAI Venecia,CAI Venecia,4.589878,-74.138380,"(4.5898780000000565, -74.13837999999998)",0.0,0.0,19.0
16,CAI Tejar,CAI El Tejar,CAI El Tejar,4.609127,-74.128176,"(4.609127000000059, -74.12817599999994)",0.0,0.0,32.0
15,CAI Serena,CAI La Serena,CAI La Serena,4.710030,-74.094249,"(4.710029707000047, -74.09424924999995)",0.0,0.0,5.0
14,CAI San Victorino,CAI San Victorino,CAI San Victorino,4.601418,-74.081216,"(4.601418000000023, -74.08121599999998)",0.0,13.0,56.0
13,CAI Roma,CAI Roma,CAI Roma,4.613437,-74.175602,"(4.61343683900003, -74.17560249799999)",0.0,0.0,1.0

## Read Centros Comerciales

In [28]:
## Data incompleta

## Read Colegios

In [29]:
colegios_data = pd.read_excel("../data/otros/colegios/colegios.xlsx")

In [30]:
colegios = colegios_data[['DANE12_SEDE_EDUCATIVA','NOMBRE_SEDE_EDUCATIVA','X','Y']].copy()

In [31]:
colegios["lat_lon"] = list(zip(colegios.Y, colegios.X))

### Calcular Colegios cercanos en 500 metros

In [32]:
cais_SDA = conteo_en_radio(cais_SDA,colegios,0.5,"conteo_colegios_500m")
cais_SDA = conteo_en_radio(cais_SDA,colegios,1,"conteo_colegios_1km")
cais_SDA = conteo_en_radio(cais_SDA,colegios,2,"conteo_colegios_2km")

In [33]:
cais_SDA.head()

,Estación,CAIDESCRIP,CAIIEPOLIC,latitude,longitude,lat_lon,conteo_bares_500m,conteo_bares_1km,conteo_bares_2km,conteo_colegios_500m,conteo_colegios_1km,conteo_colegios_2km
0,CAI 20 de Julio,CAI 20 De Julio,CAI 20 De Julio,4.572588,-74.092548,"(4.572588000000052, -74.09254799999997)",0.0,0.0,0.0,14.0,47.0,142.0
1,CAI 7 de Agosto,CAI Siete de Agosto,CAI Siete de Agosto,4.658230,-74.077138,"(4.65823000000006, -74.07713799999993)",0.0,0.0,13.0,3.0,17.0,98.0
2,CAI Alamos,CAI Álamos,CAI Álamos,4.690173,-74.117279,"(4.6901730000000725, -74.11727899999994)",0.0,1.0,21.0,0.0,11.0,103.0
3,CAI Americas,CAI Plaza De Las Américas,CAI Plaza De Las Américas,4.619148,-74.139036,"(4.6191480000000515, -74.13903599999998)",16.0,17.0,17.0,8.0,25.0,122.0
4,CAI Aurora,CAI La Aurora,CAI La Aurora,4.519827,-74.121650,"(4.519826700000066, -74.12164989999997)",0.0,0.0,0.0,9.0,17.0,45.0

## Read Hoteles

In [34]:
hoteles_data = json.load(open("../data/otros/hoteles/hoteles.geojson",encoding='utf-8'))

In [35]:
hoteles_df = pd.json_normalize(hoteles_data['features'])
hoteles_df.drop(["type","geometry.type","geometry.coordinates"],axis=1,inplace=True)
hoteles_df.columns = hoteles_df.columns.str.replace("properties.", "")

In [36]:
hoteles_df.head()

,OBJECTID,NOMBRE_EST,DIRECCION,SECTOR_CAT,TELEFONO_F,LATITUD,LONGITUD,SUBCATEGOR,LOCALIDAD,RNT,TELEFONO_M
0,1,HOSPEDAJE A MARTE,Calle 88 B Sur # 0- 78 ESTE,CHAPINERITO,3209969491,4.503119,-74.104165,F,05,69652,3228535930
1,2,HOSPEDAJE LA ESQUINA LA 83,CL 88 B SUR NO. 0 96 ESTE,CHAPINERITO,3155535619,4.503166,-74.104005,F,05,70119,7632427
2,3,HOSTAL PARAISO R.P.,CL 71 I BIS NO. 27 B - 22 SUR,EL MIRADOR,None,4.550338,-74.160098,G,19,75655,3115997250
3,4,HOTEL JERUSALEN THAILY,CR 45 73 B 40 SUR,LAS BRISAS,3107629622,4.569871,-74.164428,H,19,61764,7318648
4,5,HOTEL MIRADOR SUITE,TV 14 NO. 45 F 01 SUR,SANTA LUCIA,3123960180,4.570783,-74.124986,H,18,57062,3123960180

In [37]:
hoteles =hoteles_df[['NOMBRE_EST','LATITUD','LONGITUD']].copy()
hoteles["lat_lon"] = list(zip(hoteles.LATITUD, hoteles.LONGITUD))

### Calcular hoteles cercanos

In [38]:
cais_SDA = conteo_en_radio(cais_SDA,hoteles,0.5,"conteo_hoteles_500m")
cais_SDA = conteo_en_radio(cais_SDA,hoteles,1,"conteo_hoteles_1km")
cais_SDA = conteo_en_radio(cais_SDA,hoteles,2,"conteo_hoteles_2km")

In [39]:
cais_SDA.head()

,Estación,CAIDESCRIP,CAIIEPOLIC,latitude,longitude,lat_lon,conteo_bares_500m,conteo_bares_1km,conteo_bares_2km,conteo_colegios_500m,conteo_colegios_1km,conteo_colegios_2km,conteo_hoteles_500m,conteo_hoteles_1km,conteo_hoteles_2km
0,CAI 20 de Julio,CAI 20 De Julio,CAI 20 De Julio,4.572588,-74.092548,"(4.572588000000052, -74.09254799999997)",0.0,0.0,0.0,14.0,47.0,142.0,0.0,0.0,6.0
1,CAI 7 de Agosto,CAI Siete de Agosto,CAI Siete de Agosto,4.658230,-74.077138,"(4.65823000000006, -74.07713799999993)",0.0,0.0,13.0,3.0,17.0,98.0,2.0,22.0,72.0
2,CAI Alamos,CAI Álamos,CAI Álamos,4.690173,-74.117279,"(4.6901730000000725, -74.11727899999994)",0.0,1.0,21.0,0.0,11.0,103.0,0.0,1.0,13.0
3,CAI Americas,CAI Plaza De Las Américas,CAI Plaza De Las Américas,4.619148,-74.139036,"(4.6191480000000515, -74.13903599999998)",16.0,17.0,17.0,8.0,25.0,122.0,3.0,4.0,8.0
4,CAI Aurora,CAI La Aurora,CAI La Aurora,4.519827,-74.121650,"(4.519826700000066, -74.12164989999997)",0.0,0.0,0.0,9.0,17.0,45.0,0.0,0.0,0.0

## Read IPS

In [40]:
IPS_df = pd.read_excel("../data/otros/ips/ipsbogota_Geocode.xlsx")

In [41]:
IPS = IPS_df[['USER_SEDE','Y','X']].copy()
IPS["lat_lon"] = list(zip(IPS.Y, IPS.X))

In [42]:
IPS.head()

,USER_SEDE,Y,X,lat_lon
0,Optica GMO Colombia SAS,4.763237,-74.045181,"(4.763237003525945, -74.04518135908292)"
1,Opticas GMO Colombia S.A.S,4.645716,-74.064123,"(4.645715767818375, -74.06412271506343)"
2,Opticas GMO Colombia S.A.S.,4.652687,-74.109152,"(4.652686954779876, -74.10915172384549)"
3,Opticas GMO Colombia S.A.S.,4.652687,-74.109152,"(4.652686954779876, -74.10915172384549)"
4,Opticas GMO Colombia S.A.S.,4.656178,-74.057486,"(4.656177849814369, -74.0574863432243)"

### Calcular IPS cercanas en 500 m

In [43]:
cais_SDA = conteo_en_radio(cais_SDA,IPS,0.5,"conteo_ips_500m")
cais_SDA = conteo_en_radio(cais_SDA,IPS,1,"conteo_ips_1km")
cais_SDA = conteo_en_radio(cais_SDA,IPS,2,"conteo_ips_2km")

In [44]:
cais_SDA.head()

,Estación,CAIDESCRIP,CAIIEPOLIC,latitude,longitude,lat_lon,conteo_bares_500m,conteo_bares_1km,conteo_bares_2km,conteo_colegios_500m,conteo_colegios_1km,conteo_colegios_2km,conteo_hoteles_500m,conteo_hoteles_1km,conteo_hoteles_2km,conteo_ips_500m,conteo_ips_1km,conteo_ips_2km
0,CAI 20 de Julio,CAI 20 De Julio,CAI 20 De Julio,4.572588,-74.092548,"(4.572588000000052, -74.09254799999997)",0.0,0.0,0.0,14.0,47.0,142.0,0.0,0.0,6.0,10.0,19.0,103.0
1,CAI 7 de Agosto,CAI Siete de Agosto,CAI Siete de Agosto,4.658230,-74.077138,"(4.65823000000006, -74.07713799999993)",0.0,0.0,13.0,3.0,17.0,98.0,2.0,22.0,72.0,6.0,54.0,325.0
2,CAI Alamos,CAI Álamos,CAI Álamos,4.690173,-74.117279,"(4.6901730000000725, -74.11727899999994)",0.0,1.0,21.0,0.0,11.0,103.0,0.0,1.0,13.0,6.0,16.0,87.0
3,CAI Americas,CAI Plaza De Las Américas,CAI Plaza De Las Américas,4.619148,-74.139036,"(4.6191480000000515, -74.13903599999998)",16.0,17.0,17.0,8.0,25.0,122.0,3.0,4.0,8.0,8.0,18.0,102.0
4,CAI Aurora,CAI La Aurora,CAI La Aurora,4.519827,-74.121650,"(4.519826700000066, -74.12164989999997)",0.0,0.0,0.0,9.0,17.0,45.0,0.0,0.0,0.0,1.0,5.0,13.0

In [45]:
cais_SDA.to_csv('../data/interim/variables_de_radio.csv')

## Read Manzanas

In [46]:
manzanas_df = pd.read_excel("../data/otros/manzanas/MGN_ANM_MANZANA.xlsx")

In [47]:
manzanas_df.head()

,OID,OBJECTID_1,COD_DANE_A,DPTO_CCDGO,MPIO_CCDGO,MPIO_CDPMP,CLAS_CCDGO,SETR_CCDGO,SETR_CCNCT,SECR_CCDGO,...,TP51POSTGR,TP51_13_ED,TP51_99_ED,CD_LC_CM,NMB_LC_CM,TP_LC_CM,Shape_Leng,DDLat,DDLon,ORIG_OID
0,1,1,1100110000000011010101,11,1,11001,1,0,110011000,0,...,0,0,7,04,SAN CRISTOBAL,Localidad,0.004176,4.585633,-74.081623,1
1,2,2,1100110000000011010102,11,1,11001,1,0,110011000,0,...,0,2,3,04,SAN CRISTOBAL,Localidad,0.005631,4.584788,-74.080810,2
2,3,3,1100110000000011010103,11,1,11001,1,0,110011000,0,...,44,5,20,04,SAN CRISTOBAL,Localidad,0.011082,4.582480,-74.081045,3
3,4,4,1100110000000011010104,11,1,11001,1,0,110011000,0,...,125,24,37,04,SAN CRISTOBAL,Localidad,0.008378,4.582606,-74.083257,4
4,5,5,1100110000000011010105,11,1,11001,1,0,110011000,0,...,0,9,2,04,SAN CRISTOBAL,Localidad,0.002777,4.582665,-74.079530,5

In [48]:
list(manzanas_df.columns)

['OID',
 'OBJECTID_1',
 'COD_DANE_A',
 'DPTO_CCDGO',
 'MPIO_CCDGO',
 'MPIO_CDPMP',
 'CLAS_CCDGO',
 'SETR_CCDGO',
 'SETR_CCNCT',
 'SECR_CCDGO',
 'SECR_CCNCT',
 'ZU_CCDGO',
 'ZU_CDIVI',
 'SETU_CCDGO',
 'SETU_CCNCT',
 'SECU_CCDGO',
 'SECU_CCNCT',
 'MANZ_CCDGO',
 'AG_CCDGO',
 'DATO_ANM',
 'VERSION',
 'AREA',
 'LATITUD',
 'LONGITUD',
 'DENSIDAD',
 'CTNENCUEST',
 'TP3_1_SI',
 'TP3_2_NO',
 'TP3A_RI',
 'TP3B_TCN',
 'TP4_1_SI',
 'TP4_2_NO',
 'TP9_1_USO',
 'TP9_2_USO',
 'TP9_3_USO',
 'TP9_4_USO',
 'TP9_2_1_MI',
 'TP9_2_2_MI',
 'TP9_2_3_MI',
 'TP9_2_4_MI',
 'TP9_2_9_MI',
 'TP9_3_1_NO',
 'TP9_3_2_NO',
 'TP9_3_3_NO',
 'TP9_3_4_NO',
 'TP9_3_5_NO',
 'TP9_3_6_NO',
 'TP9_3_7_NO',
 'TP9_3_8_NO',
 'TP9_3_9_NO',
 'TP9_3_10_N',
 'TP9_3_99_N',
 'TVIVIENDA',
 'TP14_1_TIP',
 'TP14_2_TIP',
 'TP14_3_TIP',
 'TP14_4_TIP',
 'TP14_5_TIP',
 'TP14_6_TIP',
 'TP15_1_OCU',
 'TP15_2_OCU',
 'TP15_3_OCU',
 'TP15_4_OCU',
 'TP16_HOG',
 'TP19_EE_1',
 'TP19_EE_2',
 'TP19_EE_E1',
 'TP19_EE_E2',
 'TP19_EE_E3',
 'TP19_EE_E4',
 'TP19_EE_E5',
 'TP19_EE_E6',
 'TP19_EE_E9',
 'TP19_ACU_1',
 'TP19_ACU_2',
 'TP19_ALC_1',
 'TP19_ALC_2',
 'TP19_GAS_1',
 'TP19_GAS_2',
 'TP19_GAS_9',
 'TP19_RECB1',
 'TP19_RECB2',
 'TP19_INTE1',
 'TP19_INTE2',
 'TP19_INTE9',
 'TP27_PERSO',
 'PERSONAS_L',
 'PERSONAS_S',
 'TP32_1_SEX',
 'TP32_2_SEX',
 'TP34_1_EDA',
 'TP34_2_EDA',
 'TP34_3_EDA',
 'TP34_4_EDA',
 'TP34_5_EDA',
 'TP34_6_EDA',
 'TP34_7_EDA',
 'TP34_8_EDA',
 'TP34_9_EDA',
 'TP51PRIMAR',
 'TP51SECUND',
 'TP51SUPERI',
 'TP51POSTGR',
 'TP51_13_ED',
 'TP51_99_ED',
 'CD_LC_CM',
 'NMB_LC_CM',
 'TP_LC_CM',
 'Shape_Leng',
 'DDLat',
 'DDLon',
 'ORIG_OID']

In [49]:
not_variable = [
    'DPTO_CCDGO', 'MPIO_CCDGO', 'MPIO_CDPMP', 'CLAS_CCDGO', 'SETR_CCDGO',
    'SETR_CCNCT', 'SECR_CCDGO', 'SECR_CCNCT', 'ZU_CCDGO', 'ZU_CDIVI',
    'SETU_CCDGO', 'SETU_CCNCT', 'SECU_CCDGO', 'SECU_CCNCT', 'MANZ_CCDGO',
    'AG_CCDGO', 'DATO_ANM', 'VERSION', 'Shape_Leng', 'DDLat', 'DDLon',
    'ORIG_OID', 'NMB_LC_CM', 'TP_LC_CM '
]

In [50]:
manzanas_var = [x for x in list(manzanas_df.columns) if x not in not_variable]

In [51]:
manzanas = manzanas_df[manzanas_var].copy()

In [52]:
manzanas["lat_lon"] = list(zip(manzanas.LATITUD, manzanas.LONGITUD))

In [54]:
manzanas_resultados = pd.DataFrame()
radio = 0.5
for cai in cais_SDA.CAIIEPOLIC:
    cai_lat_lon = cais_SDA[cais_SDA.CAIIEPOLIC==cai]['lat_lon']
    temp_df = manzanas.copy()
    temp_df["distancia"] = temp_df.lat_lon.apply(lambda x: distance.distance(cai_lat_lon, x).km)
    suma_manzanas = temp_df.sort_values("distancia").query("distancia<"+str(radio)).sum()
    suma_manzanas['CAIIEPOLIC']=cai
    manzanas_resultados = manzanas_resultados.append(suma_manzanas,ignore_index=True)

In [55]:
manzanas_resultados.head()

,AREA,CAIIEPOLIC,CD_LC_CM,COD_DANE_A,CTNENCUEST,DENSIDAD,LATITUD,LONGITUD,OBJECTID_1,OID,...,TP9_3_7_NO,TP9_3_8_NO,TP9_3_99_N,TP9_3_9_NO,TP9_3_USO,TP9_4_USO,TP_LC_CM,TVIVIENDA,distancia,lat_lon
0,573674.459804,CAI 20 De Julio,0404040404040404040404040404040404040404040404...,1100110000000014050501110011000000001405050211...,4792.0,3.514996,457.216212,-7409.275737,190976.0,190976.0,...,7.0,0.0,4.0,0.0,1049.0,0.0,LocalidadLocalidadLocalidadLocalidadLocalidadL...,3743.0,32.460505,"(4.57274540554, -74.0922126198, 4.57187361785,..."
1,350359.951907,CAI Siete de Agosto,1212121212121212121212121212121212121212121212...,1100110000000073100406110011000000007310040111...,5192.0,1.693894,330.733039,-5259.410398,2296795.0,2296795.0,...,1.0,1.0,3.0,0.0,1674.0,0.0,LocalidadLocalidadLocalidadLocalidadLocalidadL...,3518.0,24.494290,"(4.65804047641, -74.0770789427, 4.65884304846,..."
2,800819.593612,CAI Álamos,1010101010101010101010101009101010101010,1100110000000056260303110011000000005626030211...,1794.0,0.258902,93.818409,-1482.334915,582810.0,582810.0,...,4.0,0.0,2.0,0.0,396.0,0.0,LocalidadLocalidadLocalidadLocalidadLocalidadL...,1398.0,8.076669,"(4.69085866216, -74.1186881107, 4.69245656975,..."
3,482608.396720,CAI Plaza De Las Américas,0808080808080808080808080808080808080808080808...,1100110000000045020117110011000000004502011511...,3611.0,1.540382,304.880581,-4893.207142,1254310.0,1254310.0,...,8.0,0.0,2.0,0.0,789.0,0.0,LocalidadLocalidadLocalidadLocalidadLocalidadL...,2822.0,21.920229,"(4.61964369238, -74.1388049051, 4.6190354024, ..."
4,475368.962975,CAI La Aurora,0505050505050505050505050505050505050505050505...,1100110000000025430303110011000000002533060511...,8669.0,15.975818,840.704186,-13786.496471,2131808.0,2131808.0,...,31.0,0.0,0.0,0.0,438.0,0.0,LocalidadLocalidadLocalidadLocalidadLocalidadL...,8231.0,58.444598,"(4.5195524985, -74.1215138913, 4.52057139935, ..."

In [56]:
manzanas_resultados.drop(['CD_LC_CM','COD_DANE_A','TP_LC_CM','distancia','lat_lon','LATITUD','LONGITUD'],axis=1,inplace=True)

## Final Merge

In [57]:
final_df = cais_SDA.merge(manzanas_resultados,how='left',on='CAIIEPOLIC')

In [58]:
final_df.head()

,Estación,CAIDESCRIP,CAIIEPOLIC,latitude,longitude,lat_lon,conteo_bares_500m,conteo_bares_1km,conteo_bares_2km,conteo_colegios_500m,...,TP9_3_4_NO,TP9_3_5_NO,TP9_3_6_NO,TP9_3_7_NO,TP9_3_8_NO,TP9_3_99_N,TP9_3_9_NO,TP9_3_USO,TP9_4_USO,TVIVIENDA
0,CAI 20 de Julio,CAI 20 De Julio,CAI 20 De Julio,4.572588,-74.092548,"(4.572588000000052, -74.09254799999997)",0.0,0.0,0.0,14.0,...,0.0,15.0,10.0,7.0,0.0,4.0,0.0,1049.0,0.0,3743.0
1,CAI 7 de Agosto,CAI Siete de Agosto,CAI Siete de Agosto,4.658230,-74.077138,"(4.65823000000006, -74.07713799999993)",0.0,0.0,13.0,3.0,...,0.0,12.0,0.0,1.0,1.0,3.0,0.0,1674.0,0.0,3518.0
2,CAI Alamos,CAI Álamos,CAI Álamos,4.690173,-74.117279,"(4.6901730000000725, -74.11727899999994)",0.0,1.0,21.0,0.0,...,0.0,1.0,10.0,4.0,0.0,2.0,0.0,396.0,0.0,1398.0
3,CAI Americas,CAI Plaza De Las Américas,CAI Plaza De Las Américas,4.619148,-74.139036,"(4.6191480000000515, -74.13903599999998)",16.0,17.0,17.0,8.0,...,0.0,17.0,5.0,8.0,0.0,2.0,0.0,789.0,0.0,2822.0
4,CAI Aurora,CAI La Aurora,CAI La Aurora,4.519827,-74.121650,"(4.519826700000066, -74.12164989999997)",0.0,0.0,0.0,9.0,...,0.0,20.0,14.0,31.0,0.0,0.0,0.0,438.0,0.0,8231.0

In [60]:
final_df.to_csv('../data/interim/nuevas_variables.csv',index=False)

## Read SDA Data

In [ ]:
SDA_data = pd.read_csv(interim_path + 'SDA_data.csv', dtype='unicode', encoding='utf_8')

In [26]:
SDA_data.shape

(45374070, 9)

In [27]:
SDA_data.head()

,Estación,Serial,Variable,Unidad,Componente,Fecha,Valor,Ponderación,Tipo
0,"﻿""CAI Rincon""",11339,Leq,2019-07-01 00:00:00,57.6,Lin,1/3 Oct 500Hz,NaN,NaN
1,"﻿""CAI Rincon""",11339,L50,2019-07-01 00:00:00,50.0,Lin,1/3 Oct 25Hz,NaN,NaN
2,"﻿""CAI Rincon""",11339,L90,2019-07-01 00:00:00,22.9,Lin,1/3 Oct 8kHz,NaN,NaN
3,"﻿""CAI Rincon""",11339,L90,2019-07-01 00:00:00,20.6,Lin,1/3 Oct 10kHz,NaN,NaN
4,"﻿""CAI Rincon""",11339,L90,2019-07-01 00:00:00,18.4,Lin,1/3 Oct 12.5kHz,NaN,NaN

In [28]:
SDA_data.drop(['Ponderación','Tipo'],axis=1,inplace=True)

In [29]:
SDA_data.columns= ["Estación","Serial","Variable","Fecha","Valor","Ponderación","Tipo"]

In [30]:
# 1. Remove special character when loading the source file
SDA_data['Estación'] = SDA_data['Estación'].str.replace('�','')
SDA_data['Estación'] = SDA_data['Estación'].str.replace('"','')
# due to problems with enconding, some additional relacement needs to occur:
SDA_data['Estación'] = SDA_data['Estación'].str.replace(u'\ufeff','')
# Due to the replacement on (1), a word got problems, so we need to take care of these values:
SDA_data['Estación'] = SDA_data['Estación'].str.replace('Fontibn','Fontibón')

In [32]:
SDA_data.Valor=SDA_data.Valor.astype('float')

In [33]:
SDA_data.head(5)

,Estación,Serial,Variable,Fecha,Valor,Ponderación,Tipo
0,CAI Rincon,11339,Leq,2019-07-01 00:00:00,57.6,Lin,1/3 Oct 500Hz
1,CAI Rincon,11339,L50,2019-07-01 00:00:00,50.0,Lin,1/3 Oct 25Hz
2,CAI Rincon,11339,L90,2019-07-01 00:00:00,22.9,Lin,1/3 Oct 8kHz
3,CAI Rincon,11339,L90,2019-07-01 00:00:00,20.6,Lin,1/3 Oct 10kHz
4,CAI Rincon,11339,L90,2019-07-01 00:00:00,18.4,Lin,1/3 Oct 12.5kHz

### Median Leq

In [34]:
SDA_mean = SDA_data[SDA_data["Variable"]=="Leq"][["Estación","Valor"]].groupby("Estación").agg("median").reset_index(drop=False)

In [35]:
SDA_mean.head()

          Estación  Valor
0  CAI 20 de Julio   54.8
1  CAI 7 de Agosto   61.5
2       CAI Alamos   58.7
3     CAI Americas   63.0
4       CAI Aurora   58.3

### Median Leq per hour

In [41]:
SDA_data["Hora"] = pd.to_datetime(SDA_data.Fecha).dt.hour

In [42]:
SDA_hour_mean = SDA_data[SDA_data["Variable"]=="Leq"][["Estación","Hora","Valor"]].groupby(["Estación","Hora"]).agg("median").reset_index(drop=False)

In [45]:
SDA_hour_mean.head(23)

           Estación  Hora  Valor
0   CAI 20 de Julio     0   49.6
1   CAI 20 de Julio     1   47.1
2   CAI 20 de Julio     2   46.6
3   CAI 20 de Julio     3   46.7
4   CAI 20 de Julio     4   50.0
5   CAI 20 de Julio     5   53.6
6   CAI 20 de Julio     6   55.9
7   CAI 20 de Julio     7   56.3
8   CAI 20 de Julio     8   56.5
9   CAI 20 de Julio     9   56.6
10  CAI 20 de Julio    10   57.2
11  CAI 20 de Julio    11   57.5
12  CAI 20 de Julio    12   58.2
13  CAI 20 de Julio    13   58.4
14  CAI 20 de Julio    14   58.5
15  CAI 20 de Julio    15   58.3
16  CAI 20 de Julio    16   58.1
17  CAI 20 de Julio    17   58.1
18  CAI 20 de Julio    18   57.6
19  CAI 20 de Julio    19   56.9
20  CAI 20 de Julio    20   56.1
21  CAI 20 de Julio    21   55.1
22  CAI 20 de Julio    22   54.0